Тут про Маршрути! Треба чітко розмежувати походи та маршрути і подумати куди діти інфу про флайборд? може в ассортимент? - 
--- Так! в асортименті буде і в прайсі ----
<body>
++++Хедер++++
____треба якийсь вводний текст___
------ Походи з Kayak Club Dnipro, це довготривалий заход, який включає в себе водні екскурсіЇ (тут буде перелінковка на сторінку екскурсії) та відпочинок на суші з розкладом табору, чаюванням, харчуванням, засмаганням, пірнанням з байдарок, активних та пасивних видів ігор.
Тривалість походів дуже різноманітна - від 8 годин до п'яти днів. Походи не обмежуються перебуванням в м. Дніпро і, навіть Дніпропетровською областю.----- 
Похід р. Ворскла (----прибрати слово дводенний з підзаголовка-------)
___фото ------ (а куди скидати тематичні світлини?!!!! --------
Більш детально про походи по р.Ворскла:
  ---------Природа річки Ворскла дуже красива та багатогранна, з кожним походом відкриваються нові враження та почуття.
Сплав по Ворсклі, це те, що запам'ятається назавжди! 

Зануритися в прохолоду річкової води, здивуватися чистоті й прозорості річки, пройти тунелями з сплетених кронами дерев, відчути запах лісу, насолодитись тишею – ось далеко не повний перелік приємних емоцій, які ви отримаєте під час походу по р.Ворсклі.

Сплав підходить новачкам: Ворскла - добродушна, некваплива річка, достатньо мінімальних навичок веслування.

Для сплаву по Ворсклі ми використовуємо надувні байдарки ТМ «ЛАДДЯ». Байдарки зручні, місткі й стійкі, витривалі до перешкод із дерев та каміння.  

Весь перелік необхідних речей для походу на декілька днів/ночей ми беремо із собою:
- розробляємо меню для гарячих сніданків, вечерь під час зупинок на ночівлю та перекусів на привалах
- закуповуємо харчі, воду
- беремо усе обладнання для приготування їжі
- намети, каремати, спальні мешки
- аптечка із загалним переліком медичиних для першої допомоги
- необхідну кількість плавзасобів для туристів і вантажу
- орагізовуємо трансфер.

Розклад :____розгорнути ------- 
Маршрут, розклад та тривалість походу по р. Ворсклі можуть змінюватись в залежності від зовнішніх умов.

Найближчу дату наступного походу, його тривалість та вартість дізнайтесь у адміністратора Kayak Club Dnipro за номером: +380966748338 (ТГ, ВБ).----------
текст під спойлером:
Дводенний похід р. Оріль
___фото
Більш детально про походи по р.Оріль:____розгорнути
текст під спойлером:
Розклад:____розгорнути
текст під спойлером:

+++футер++++
